@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-position-guess: #538d4e;
    --color-letter-guess: #b59f3b;
    --color-wrong-guess: #3a3a3c;
    --font-guess: "Sanet", "sans-serif";
}

@font-face {
    font-family: 'Sanet';
    src: url('../public/fonts/alk-sanet-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}